#storybook-root::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("../assets/storybook-bg.jpg");
    background-size: cover;
    background-position: center;
}

@font-face {
    font-family: minecraft;
    src: url(../assets/minecraftia.woff);
}

@font-face {
    font-family: mojangles;
    src: url(../assets/mojangles.ttf);
}
